{% load static %}
<div class="container-fluid">
    <div class="row flex-row justify-content-center">
        首页 | 集团介绍 | 职业教育 | k12教育 | 动态新闻 | 关于我们
    </div>
    <div class="row flex-row justify-content-center">
        友情链接    百度 新浪 爱奇艺 天津反邪教官网
    </div>
    <div class="row flex-row justify-content-center">
        ©版权所有 津ICP备18002749号 高盛教育集团 Design by beijing
    </div>
</div>
</body>
<script src="{% static 'front/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'front/popper/popper.min.js' %}"></script>
<script src="{% static 'front/bootstrap/js/bootstrap.min.js' %}"></script>
</html>